/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* Body */
body {
    font-family: Arial, sans-serif; 
    background-color: #dddad4; 
    color: #333333; 
}

/* Cabeçalho */
header {
    background:  #C568DF; 
    color: white; 
    width: 100%; 
    height: 4.6875rem;
    padding: 0.9375rem 1.25rem; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

/* titulo */
.logo {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: white;
    text-align: center;
    letter-spacing: 2px;
}

/* Centraliza o título e o parágrafo na seção desejada */
section h2 {
    margin-top: 0.7%;
    text-align: center; 
    color: #0a0a0a; 
    font-family: 'Great Vibes', cursive; /* Fonte elegante */
}


/* Carrossel */
.carousel {
    position: relative; 
    width: 100%;
    overflow: hidden;
}

/* Container das imagens */
.slides {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
}

/*DESKTOP 4 imagens */
.slides img {
    width: 25%;
    height: clamp(220px, 22vw, 420px);
    object-fit: cover;
    flex-shrink: 0;
}

/*TABLET 2 imagens*/
@media (max-width: 1024px) {
    .slides img {
        width: 50%;
    }
}

/*CELULAR 1 imagem*/
@media (max-width: 600px) {
    header {
        padding: 1rem; 
    }

    .logo {
        font-size: 2rem;
    }
    .slides img {
        width: 100%;
    }
}


button.prev, button.next {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    background-color: rgba(255, 255, 255, 0.8); 
    border: none; 
    cursor: pointer; 
    padding: 0.625rem; 
    font-size: 1.125rem; 
    z-index: 10; /* Garantindo que os botões fiquem acima das imagens */
}

button.prev {
    left: 0.625rem; 
}

button.next {
    right: 0.625rem; 
}

/* Seção de produtos */
.produtos {
    background: #dddad4; 
    padding: 2.5rem; 
    margin-top: 1.25rem; 
    border-radius: 0.5rem;
    flex: 1; 
}

/* Grade de produtos */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.25rem;
}

/* Cada produto */
.produto {
    height: 100%;
    background: #5e5b5b27; 
    padding: 1.25rem; 
    text-align: center; 
    border-radius: 0.5rem; 
}

/* Imagem circular */

.circular-image {
    width: 100%;
    max-width: 212px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.circular-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* bt carrinho */
.add-to-cart {
    background-color: #C568DF; 
    color: white; 
    border: none; 
    border-radius: 0.5rem; 
    padding: .625rem 1.25rem; 
    cursor: pointer; 
    margin-top: .3125rem; 
}

.add-to-cart:hover {
    color: white;
    background-color: rgb(47, 167, 47);
    box-shadow: 0rem 0rem .75rem .25rem rgba(4, 148, 16, 0.301); 
}

/* Carrinho de compras */
.carrinho {
    background: #dddad4; 
    padding: 1.25rem; 
    margin-top: 1.25rem; 
    border-radius: 0.5rem; 
}

.carrinho h2 {
    color: #C568DF;
}

/*Social midias*/

.social-media-buttons{
    display: flex;
    gap: 1.125rem;
}

.social-media-buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 2.5rem;
    border-radius: .625rem;
    text-decoration: none;
    color: #1d1d1d;
    box-shadow: 0rem 0rem .75rem .25rem rgba(0,0,0,0.1);
    transition: .3s easy;
}


.whats:hover {
    color: white;
    background-color: rgb(47, 167, 47);
    box-shadow: 0rem 0rem .75rem .25rem rgba(4, 148, 16, 0.301);   
}


/* btn mensagem de finalização de compra */
#GoIfood{
    background-color: #C568DF; 
    color: white; 
    font-size: 0.75rem;
    border: none; 
    border-radius: 0.5rem; 
    padding: 0.625rem 1.25rem; 

    margin-top: 1.25rem; 
    margin-bottom: .7125rem;
}

#GoIfood:hover {
    color: white;
    background-color: rgb(47, 167, 47);
    box-shadow: 0rem 0rem .75rem .25rem rgba(4, 148, 16, 0.301); 
}

/* Quantidade de items e soma  */

#soma{
    color: black;
}

#total-items {
    color: blue;
    font-weight: bold;
}

#total {
    color: black;
}

#total-value {
    color: red;
    font-weight: bold;

}

.finalize-purchase{
    cursor: pointer;
}


/* Rodapé */
footer {
    background:  #C568DF; 
    text-align: center; 
    padding: 1.00rem; 
    margin-top: auto; /* rodapé se mover para a parte inferior */
}

footer h4{
    font-size: 0.75rem;
    color: white;
}
footer p{
    font-size: 0.35rem;
}

/* Botão "Voltar ao Topo" */
#back-to-top {
    position: fixed; 
    bottom: 1.25rem; 
    right: 1.25rem; 
    display: none; 
    background-color: #81c9e6; 
    color: white; 
    border: none; 
    border-radius: 0.5rem; 
    padding: 0.625rem 15px; 
    cursor: pointer; 
    z-index: 1000; /* Garantindo que fique acima de outros elementos */
}

/* Botão "Voltar ao Topo" em hover */
#back-to-top:hover {
    background-color: #af43f7; 
}


