

#home{
    display: flex;
    min-height: calc(100vh - 5.6875rem);/*Ocupando 100vh  a partir  da nav bar*/
    position: relative;
   
}

#cta{
    width: 35%;
    display: flex;
    gap: 1.75rem;
    flex-direction: column;
    margin-top: 5%;
}

#cta .title{
    font-size:4rem ;
    color:#E39EC2;
    
    
}

#cta .title span{
    color: black;
}

#cta .description{
    font-size: 1.2rem;
    
}

.cta_buttons{
    display: flex;
    gap: 1.5rem;
}

.cta_buttons a{
    text-decoration: none;
    color: #1d1d1d;

}

#phone_button{
    display: flex;
    gap: .5rem;
    align-items: center;
    background-color: #ffffff;
    padding: .5rem .875rem;
    font-weight: 500;
    box-shadow: 0rem 0rem .75rem .25rem rgba(0,0,0,0.1);
    border-radius: .75rem;
}

#phone_button button{
    box-shadow: none;
}

#banner{
    justify-content: flex-start;
    width: 100%;
    height:auto;
    margin-left: 45%;
    z-index: 2;
    align-items: center;
   
    

    

}

#banner img{
    width: 100%;
    height: auto;

}


.lista-txt, h3{
    color: white;
    
}

.shape{
    background-color: #E39EC2;
    width: 50%;
    height: 100%;
    position:absolute;
    border-radius: 40% 30% 0% 20% ;
    top: 0;
    right: 0;
    z-index: 1;
    
    
}

@media screen and (max-width: 73.125rem){
    #home{
    min-height: 100%;
    padding-top: 0rem;
    }

    #banner,
    #banner img,
    #home .shape{
        display: none;
    }

    #cta{
        width: 100%;
        align-items: center;
        text-align: center;
    }

}